<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.keyboard-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).KeyboardViewController</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>RequestsOpenAccess</key>
			<true/>
			<key>PrimaryLanguage</key>
			<string>en-US</string>
			<key>PrefersRightToLeft</key>
			<false/>
			<key>IsASCIICapable</key>
			<false/>
		</dict>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Voco needs microphone access to transcribe your speech into text.</string>
</dict>
</plist>
